.header-wrapper {
    width: 95vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h2 {
      font-size: 1rem;
      text-align: center;
  
      @include media(">=phone", "<lgphone") {
        font-size: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 16px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 16px;
      }
    }
  
    .heading-wrapper {
      h1 {
        font-size: 4.5rem;
        text-align: center;
        line-height: 4.25rem;
        margin-top: 0;
  
        &:nth-of-type(2){
          font-weight: 600 !important;
          margin: 8px auto;
        }
  
        @include media(">=phone", "<lgphone") {
          font-size: 2rem;
          line-height: 2rem;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 2rem;
          line-height: 2rem;
        }
        @include media(">=tablet", "<desktop") {
          font-size: 3rem;
          line-height: 3rem;
        }
      }
    }
  
    p {
      margin: 2rem auto;
      width: 50%;
      text-align: center;
      overflow: hidden;
  
      @include media(">=phone", "<lgphone") {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 14px;
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 12px;
        width: 100%;
      }
    }
  }
  